html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.no-border-radius {
	border-radius: 0 !important;
}

[hidden] {
	display: none !important;
}

.content-cell-text,
.content-cell-object > ol > li > div,
.details-cell > .details-cell:nth-child(2) > ol > li > div {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.content-cell-text {
	-webkit-line-clamp: 2;
}

.content-cell-object > ol > li > div {
	-webkit-line-clamp: 1;
}

@media (max-width: 899.95px) {
	.resize-columns-btn {
		display: none;
	}
}

.MuiTabs-scrollButtons.Mui-disabled {
	opacity: 0.3;
}

@media (max-width: 450px) {
	.MuiTablePagination-selectLabel + .MuiInputBase-root {
		margin-right: 8px;
	}
}